# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular libraries in DS
- popular languages in DS
- making use of tables
- Simple arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. gg plot
3. pandas
4. scikitlearn

|Data Science tools |
| ----------------- |
|jupyter lab|
|Git Hub|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Nihar